
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: slategray;
}

.slider{
        width: 1100px;
        height: 600px;
        overflow: hidden;
    border: 10px solid #fff;
    display: flex;
    flex-direction: column;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation{
    display: flex;

}

.bar{
    height: 16px;
    width: 16px;
    margin: 6px;
    cursor: pointer;
    background-color: #1a4d78;
    border-radius: 10px;
    transition: all .4s ease;
}
.slider_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar:hover{
    background-color: white;
}

.bar:active{
    background-color: white;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 80%;
    display: flex;
}

.slide{
    width: 25%;
    transition: all .6s ease;
}


.slide img{
    width: 100%;
    height: 100%;

}
.citates{
    width: 400%;
    height: 80%;
    display: flex;
}

.citate{
    width: 25%;
    transition: all .6s ease;
}

#r1:checked ~ .slider .slides .s1,
#r1:checked ~ .slider .citates  .l1
{
    margin-left: 0;
}

#r2:checked ~ .slider .slides .s1,
#r2:checked ~ .slider .citates  .l1
{
    margin-left: -25%;
}

#r3:checked ~ .slider .slides .s1,
#r3:checked ~ .slider .citates  .l1
{
    margin-left: -50%;
}

#r4:checked ~ .slider .slides .s1,
#r4:checked ~ .slider .citates  .l1
{
    margin-left: -75%;
}

